.DS_Store
/.build
/\.swiftpm/
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
# Xcode project build artifacts
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
*.xcodeproj/**/xcuserdata/
# Build directories
.build/
**/.build/
